body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.first-section {
  background-color: #1F2937;
  height: 400px;
  display: flex;
  justify-content: center;

}

.first-section-container {
  display: flex;
  flex-direction: column;
  
}

.header {
  display:flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color:#F9FAF8;
}

.link-section {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  gap: 10px;
}

.intro-to-page {
  margin-top: 40px;
  display: flex;
}

.intro-to-page-text-button {
  display: flex;
  flex: 1;
  flex-direction: column;
  
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-sub {
  font-size: 18px;
  color: #E5E7EB;
}

.tower-img {
  flex: 1;
}

.sign-up-1 {

}