body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.fifth-section,
.first-section {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

.first-section-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 60px;
}

.header {
  display:flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color:#F9FAF8;
}

.link-section {
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  gap: 10px;
}

.intro-to-page {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.intro-to-page-text-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-sub {
  font-size: 18px;
  color: #E5E7EB;
}

.tower-img {
  flex: 1;
}

.sign-up-1 {
  background-color: #3882F6;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  color: white;
}

.second-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 60px;
}

.random-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.image-row {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.image-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: gray;
  padding: 10px;
}


.third-section {
  background-color: #E5E7EB;
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;;

}

.quote-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  text-align: center;
}

.quote-by {
  font-size:18px;
  text-align: end;
}

.fourth-section {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;


}

.blue-box {
  background-color: #3882F6;
  padding: 20px;
  display: flex;
  gap: 120px;
  border-radius: 2px;
}

.call-to-text {
  color:white;
  font-weight: 700;
  font-size: 24px;
}

.sign-up-2 {
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items:end;
  margin-right: 20px;
}



.fifth-section {
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

